.fa-aug{
  font-size: 0.6em;
}
.aug-margin{
  margin-right: 2px;
}
body{font-family: 'Ubuntu', sans-serif;}

.approve_employer{
	background-color: aqua;
}
.approve_employer > a:hover{
	background-color: #8BC34A !important;
	color: white !important;
}